@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* css variables */

:root {
  --main-color: #443;

  --border-radius: 95% 4% 97% 5% / 4% 9% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;

  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dotted var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "oxygen", sans-serif;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center;
  width: 100%; */
}

/* for all section */
section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
  z-index: 1;
}

.header .logo {
  color: var(--main-color);
  font-size: 2.3rem;
}

.header .logo i {
  padding-left: 1rem;
}

.header .navbar a {
  margin: 0 1rem;
  color: var(--main-color);
  font-size: 1.7rem;
}

.btn {
  border: var(--border);
  padding: 0.9rem 1.5rem;
  border-radius: var(--border-radius);
  color: var(--main-color);
}

.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}

.heading {
  font-size: 9rem;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 0.05rem var(--main-color);
  letter-spacing: 0.2rem;
  line-height: 1.6;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.heading span {
  position: absolute;
  width: 100%;
  color: var(--main-color);
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/* home */

.home {
  min-height: 100vh;
  padding-top: 150px;
  background-image: url(../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
}

.home .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.home .row .content {
  width: 50rem;
  padding-top: 10rem;
}

.home .row .content h3 {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 6.5rem;
  margin-bottom: 2rem;
}

.home .row .image {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  padding-top: 6rem;
  text-align: center;
}

.home .image-slider {
  text-align: center;
  padding: 3rem 0;
  padding-top: 15rem;
}

.home .image-slider img {
  margin-top: 5rem;
  height: 9rem;
}

.home .row .image img {
  height: 25rem;
  animation: move 6s linear infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0rem) rotate(-10deg);
  }

  50% {
    transform: translateX(-7rem) rotate(10deg);
  }
}

/* about section starts here */
.about .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.about .row .image {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  text-align: center;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 42rem;
}

.about .row .content .tittle {
  color: var(--main-color);
  font-size: 3rem;
  line-height: 1.8;
}

section {
  padding: 4% 10%;
}

.about .row .content p {
  color: var(--main-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.about .row .content .btn {
  margin: 5rem 0;
}

.about .row .content .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.about .row .content .icons-container .icons {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 2rem;
  text-align: center;
}

.about .row .content .icons-container .icons:hover {
  border: var(--border);
  border-radius: var(--border-radius-hover);
}
/* about section ends here */

/* menu */

.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.menu .box-container .box {
  border: var(--border);
  border-radius: var(--border-radius);
  gap: 1.5rem;
  margin-left: 5rem;
  align-items: center;
  flex: 1 1 42rem;
  display: flex;
  padding: 2rem;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box .content {
  padding-left: 2rem;
  color: var(--main-color);
}

.menu .box-container .box .content h3 {
  font-size: 3rem;
}

.menu .box-container .box .content p {
  font-size: 1.5rem;
}

.menu .box-container .box .content .price {
  font-size: 2rem;
}

/* review */

.review .review-slider {
  padding: 10rem 0;
}

.review .review-slider .box {
  /* position: relative; */
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 3rem 2rem;
  margin: 2rem 0;
  user-select: none;
}

.review .review-slider .box .fa-quote-left {
  z-index: 1;
  color: #443;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 6rem;
}

.review .review-slider .box .fa-quote-right {
  z-index: 1;
  color: #443;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 6rem;
}

.review .review-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.review .review-slider {
  padding: 10rem 0;
  z-index: -1;
}

.book form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book form input {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 40%;
  margin: 10px 0;
  outline: hidden;
  border: var(--border-hover);
}

.book form textarea {
  padding: 20px;
  width: 50%;
  border: var(--border);
  border-radius: var(--border-radius);
}

.footer {
  text-align: center;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .header .navbar {
    display: none;
  }

  #home {
    display: block;
    width: 250%;
  }

  #home .row {
    display: flex;
    flex-direction: column;
  }

  #home .row .content {
    text-align: center;
  }

  #home .row .content h3 {
    font-size: 6rem;
    margin-bottom: 4rem;
    /* text-align: center; */
    width: 180%;
  }

  #home .row .image img {
    width: 50%;
    height: 25rem;
  }

  #home .image-slider {
    text-align: center;
    padding: 2rem 1;
    padding-top: 13rem;
  }

  .home .image-slider img {
    margin-top: 5rem;
    height: 15rem;
  }


  .heading{
    width: 100%;
    /* color: red; */
  }

  .about{
    width:250%;
    /* margin: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: red; */
    margin-top: 10rem;
    /* align-self: center; */
    /* align-items: center; */
    /* justify-content: center; */
  }

  #about .row .content .icons-container{
     display: block;
     margin-bottom: 10rem;
     width: 100%;
  }


  #about .row .content .icons-container .icons{
    margin-bottom: 5rem;
  }


  /* #about .row .content .icons-container .icons {
    width: 50%;
  } */

  #about .heading {
    /* text-align: center; */
    /* font-size: 5rem; */
    /* display: none; */
  }
  #about .heading span{
    /* width: 100%; */
    /* text-align: center; */
    /* font-size: 3rem; */

  }

  .about .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #menu{
    width: 250%;
  }


/* #menu{ */
  /* width: 100%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  

#menu .heading span  {
  width: 100%;
  font-size: 4rem;
  /* text-align: center; */
}

#menu .box-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px;
  /* align-items: center; */

}

#review{
  width: 250%;
  margin-top: 10rem;
}

#swiper .review-slider{

}


#book{
  width: 180%;
  margin-top: 10rem;
}

#book form .box{
  width: 50%;
  /* padding: 10px; */
}


.footer{
  width: 180%;
}








}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}
/* 
  ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* CSS */
}
